/* header */


.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    padding: 92px 24px 96px 24px;
    place-items: center;
    font-size: 18px;
     /* align-items: center;

  
   padding: 92px 50px;
   display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 20px;
    width: 1052px;
    */
    
}

.header-menu {
    padding-top: 3px;
}


.header__links-list {
    display: flex;
    list-style: circle;
    gap: 32px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__link {
    line-height: normal;
    text-decoration: none;
    border-bottom: 1px #000 solid;
}

.header__link_active {
    border-bottom: none;
}

.header__logo-image {
    display: block;
    width: 148px;
    height: 105px;
}

.address {
    place-self: start;
    /*padding-top: 5px;*/
    width: 240px;
    font-style: normal;
    padding-right: 25.48px;
}

.address-list {
    line-height: 24px;
    font-style: normal;
    list-style: none;
}

.header__address {
    display: flex;
    flex-direction: column;
    place-self: end;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-right: 25.48px;
}


.address-link {
    text-decoration: none;
    border-bottom: 1px #000 solid;
    
}

.cover {
    /*width: 1100px;*/
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.overlay {
    background-color: rgb(0, 0, 0, 0.6);
    position: relative;
    inset: 0;
    width: 100%;
    height: 100%;
}

.cover__title {
    color: #FFF;
    font-size: 100px;
    letter-spacing: 30px;
    font-weight: bold;
    line-height: 100%;
    text-transform: uppercase;
}

.aligned-text {
    padding-top: 165px;
    padding-left: 50px;
    line-height: 115%;
    display: block;
    box-sizing: content-box;
}

.aligned-text-center {
    text-align: center;
    padding-top: 20px;
    display: block;
    box-sizing: content-box;

}

.aligned-text-right {
    text-align: right;
    padding-top: 20px;
    padding-right: 50px;
    display: block;
    box-sizing: content-box;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    padding: 134px 50px 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 22px;
    color: #FFF;
    line-height: 28px;
    text-transform: uppercase;
}

.cover__description-text {
    align-self: center;
    word-spacing: 18px;
    display: inline-block;
    padding: 0;
    font-size: 22px;
    color: #FFF;
    font-weight: normal;
}

.bet-button {
    background: transparent;
    color: inherit;
    text-transform: uppercase;
    border: 1px white solid;
    padding: 12px 32px;
    margin-left: 78px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.lots {
    margin: 180px 24px;
    /*width: 1052px;*/
}

.lots__heading {
    margin-left: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.lots__card-list-item {
    margin-top: 27px;
    width: 430px;
    flex-grow: 1;
    /*flex-shrink: 0;*/
    list-style: none;
    position: relative;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    height: 563px; /*100%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title {
    margin: 51px 40px 0 40px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.card__text {
    margin: 0 40px 48px 40px;
    color: white;
    text-decoration: none;
    line-height: 24px;
    font-size: 20px;
    font-weight: 400;
}

.lots__look-more-link {
    margin-left: 40px;
    display: block;
    padding-top: 30px;
    line-height: 23.48px;
    font-size: 20px;
    font-weight: 400;
    text-decoration-skip-ink: none;
}

.about {
    width: 1052px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 24px 180px 24px;
}

.about__column {
    padding-top: 3px;
    padding-left: 7px;
}

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    padding: 63px 46px;
    margin-left: 47px;
   /* margin-right: 95px;*/
}

.about__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    /*padding-left: 50px;*/
    margin-top: 100px;
    margin-bottom: 100px;
}

.about__text {
    width: 688px;
    /*padding-left: 50px;*/
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
    line-height: 24px;
    font-size: 20px;
    font-weight: 400;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 0px 88px 50px;
    font-size: 18px;
    width: 1050px;
}

.footer__menu {
    place-self: center;
    align-self: start;
}

.footer__menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    /*list-style: none;*/
    place-self: end;
    align-self: start;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-link {
    text-decoration: none;
    display: block;
}

.footer__social-icon {
    height: 48px;
    width: 48px;
}
